page-bcd {
    $action-sheet-width: 200;
    $action-sheet-width: start;
    $action-sheet-md-background: #ffcc66;
    $action-sheet-md-title-color: #212121;
    $action-sheet-md-title-font-size: 1.8rem;
}
